body {
	background-color: #9999ff;
	text-align: center;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
}

.body {
	margin: 0 auto;
	clear: both;
	width: 80%;
}

.headerContent {
	width: 100%;
	border: groove; 1px;
	margin-top: 1%;
}

.headerContent img {
	display: inline-block;
	width: 30%;
}

#portalname {
	margin-bottom: 5%;
}

.mainContent {
    background-color: #FFF;
    margin: 1% 20% 0 20%;
    padding-top: 0.1%;
    padding-bottom: 15%;
    margin-bottom: 1%;
    border-radius: 1%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #b3b3b3;
}

table th {
	text-align: left;
	background-color: #9999ff;
	padding: 8px 30px 8px 4px;
}

table td {
	border: 1px solid #b3b3b3;
	padding: 4px 8px;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}


#mobileFooter {
	display: none;
}


@media only screen and (max-width: 500px) {
    #duduLeft, #duduRight {
    	display: none;
    }

    #portalname {
    	margin: 0;
    	width: 80%;
    }

    .body {
    	width: 98%;
    }

    .mainContent {
    	width: 100%;
    	margin-left: 0;
    	margin-right: 0;
    }

    #normalFooter {
    	display: none;
    }

    #mobileFooter {
    	display: inline;
    }

}

@media only screen and (max-width: 1024px) {
	.body {
		width: 98%;

	}

	.mainContent {
		width: 100%;
    	margin-left: 0;
    	margin-right: 0;
	}
}