body {
	background-color: #9999ff;
	text-align: center;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
}

.body {
	margin: 0 auto;
	clear: both;
	width: 80%;
}

.headerContent {
	width: 100%;
	border: groove; 1px;
	margin-top: 1%;
}

.headerContent img {
	display: inline-block;
	width: 30%;
}

#portalname {
	margin-bottom: 5%;
}

.mainContent {
    background-color: #FFF;
    margin: 1% 20% 0 20%;
    padding-top: 0.1%;
    padding-bottom: 15%;
    margin-bottom: 1%;
    border-radius: 1%;
}

<<<<<<< HEAD
a {
	text-decoration: none;
=======
.welcome {
  width: 100%;
  padding: 32% 0 30% 0;
  margin-bottom: 0;
  background-image: url("media/starrynighttardis.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: -2px 0 black, 0 0px black, 0px 0 black, 0 0px black;
>>>>>>> origin/master
}

a:hover {
	text-decoration: underline;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #b3b3b3;
}

table th {
	text-align: left;
	background-color: #9999ff;
	padding: 8px 30px 8px 4px;
}

table td {
	border: 1px solid #b3b3b3;
	padding: 4px 8px;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}


#mobileFooter {
	display: none;
}


@media only screen and (max-width: 500px) {
<<<<<<< HEAD
    #duduLeft, #duduRight {
    	display: none;
    }
=======
  .body {
    width: 100%;
    background-image: none;
  }

  .topheader {
    width: 100%;
  }

  .topheader ul {
    margin-left: 0;
    padding-left: 0;
    align-items: left;
  }

  .welcome {
    background-image: url("media/vvg.jpg");
  }
  
  .articles #img1 {
    display: none;
 }

  .articles #img2 {
    display: inline;
    width: 90%;
 }

  .articles h2 {
    margin-top: 3%;
 }
}
>>>>>>> origin/master

    #portalname {
    	margin: 0;
    	width: 80%;
    }

    .body {
    	width: 98%;
    }

    .mainContent {
    	width: 100%;
    	margin-left: 0;
    	margin-right: 0;
    }

    #normalFooter {
    	display: none;
    }

    #mobileFooter {
    	display: inline;
    }

}

@media only screen and (max-width: 1024px) {
	.body {
		width: 98%;

	}

	.mainContent {
		width: 100%;
    	margin-left: 0;
    	margin-right: 0;
	}
}