body {
  background-image: url("media/pagebg.jpg");
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1,5;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.body {
  margin: 0 auto;
  width: 50%;
  clear: both;
}

.topheader {
 background-color: white;
 position: fixed;
 width: 50%;
 border-bottom: solid 1px;

}

.topheader li, a{
  text-align: left;
  display: inline;
  padding: 0 2%;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.GhostHeader {
  height: 52px;

}

.welcome {
  width: 100%;
  padding: 32% 0 30% 0;
  margin-bottom: 0;
  background-image: url("media/starrynighttardis.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: -2px 0 black, 0 0px black, 0px 0 black, 0 0px black;
}

.welcome h1 {
  font-size: 3em;
  color: #FFF;
}

.articles {
  background-color: #FFF;
  margin-top: 0;
  padding-bottom: 2%;
}

.articles h2 {
  padding-top: 2%;
  margin-top: 0;
  text-align: left;
  padding-left: 4%;
}

.articles p {
	padding: 0 4%;
}

p {
  text-align: justify;
}

img {
  width: 50%
}


#img2 {
  display: none;
}

.MainFooter {
  border-top: solid 1px; 
  background-color: #f2f2f2;
}


@media only screen and (max-width: 500px) {
  .body {
    width: 100%;
    background-image: none;
  }

  .topheader {
    width: 100%;
  }

  .topheader ul {
    margin-left: 0;
    padding-left: 0;
    align-items: left;
  }

  .welcome {
    background-image: url("media/vvg.jpg");
  }
  

  .articles #img1 {
    display: none;
 }

  .articles #img2 {
    display: inline;
    width: 90%;
 }

  .articles h2 {
    margin-top: 3%;
 }
}

@media only screen and (max-width: 1024px) {
  .body {
    width: 100%;
    background-image: none;
  }

  .topheader {
    width: 100%;
  }
} 




