.header {
	background-color: #efefef;
/*	height: 120px;*/
	padding-bottom: 50px;
}

.header img {
	padding: 30px 0 0 0;
	margin: 0 auto;
	float: left;
}

.header li {
	display: inline;
	float: right;
	margin-top: 35px;
	margin-left: 60px;
	font-family: serif;
	font-size: 20px;
	text-transform: uppercase;	
}

.header a {
	color: #7a6666;
}

.header a:hover, a:active{ 
	color: #cb3362;
}

a.selected {
	color: #cb3362;
}


ul li {
	position: relative;
}

.dropdownMenu ul li {
	position: absolute;
	right: 0px;
	top: 20px;
	margin-top: 5px;
}

ul li ul {
	display: none;
}

/*ul li ul li {	
	position: absolute;
	right: 0;
}*/

ul li:hover ul {
	display: block;
}

